body {
  color: white !important;
  background-color: #212121 !important;
  margin: 0;
}
.divider{
  margin: 25px;
  background-color: #616161;
  height: 1.5px;
  width: 95%;
  align-self: center;

}
.wide{
  width: 100vw !important;
  display: flex;
  justify-content: center;
}
.contents{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1300px;
}
.head{
  margin-top: 0px !important;
  width: 80vw;
}
.avatar{
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}

.lw{
  font-size: 40px;
  margin: 0;
  display: flex !important;
  align-items: center !important;
}
.image_main{
  border-radius: 50%;
}
.yeh{
  display: flex !important;
  align-items: center !important;
}
.m-content{
  font-size: 18px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-butons{
  margin: 20px;
}
.haiku{
  display: flex;
  flex-direction: row;
}
.haiku img{
  margin-top: -120px;
  margin-right: 20px;
}
.haiku .haiku-text{
  margin: 40px;
}
.haiku .haiku-text #poemLine{
  margin: 0px;
}
.haiku img{
  height: 500px;
}
.coffe{
  margin-bottom: 20px;
}
footer{
  width: 100vw;
  position: sticky;
  height: 50px;
  background-color: #e0e0e0;
  color: black;
  text-align: center;
  bottom: 0;
}
footer p {
  padding-top: 15px !important;
}
